annotated-types==0.7.0
apify==3.0.0
apify_client==2.1.0
apify_fingerprint_datapoints==0.5.0
apify_shared==2.1.0
browserforge==1.2.3
cachetools==6.2.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
crawlee==1.0.0
cryptography==46.0.2
filelock==3.19.1
greenlet==3.2.4
idna==3.10
impit==0.7.1
lazy-object-proxy==1.12.0
more-itertools==10.8.0
multidict==6.6.4
playwright==1.55.0
propcache==0.3.2
Protego==0.5.0
psutil==7.1.0
pycparser==2.23
pydantic==2.11.9
pydantic-settings==2.11.0
pydantic_core==2.33.2
pyee==13.0.0
python-dotenv==1.1.1
requests==2.32.5
requests-file==2.1.0
tldextract==5.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
websockets==15.0.1
yarl==1.20.1
